body {
  background-image: url("./Windows\ 11\ Black\ .jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
.Thehead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  padding: 30px 10px;
  margin: 20px 40px;
  color: rgb(241, 239, 239);
  font-size: 50px;
  font-weight: 100;
  text-align: left;
}
.navbar {
  padding: 30px 10px;
  font-size: 20px;
  text-align: right;
  margin: 0px 20px;
}
.navbar a {
  background: transparent;
  cursor: pointer;
  transition-duration: 2s;
  border: transparent;
  margin: 20px 20px;
  font-family: sans-serif;
  padding: 0px 10px;
  color: rgb(226, 225, 225);
  font-size: 16px;
  text-align: left;
  border-radius: 2px;
}
.navbar a:hover {
  text-decoration: none;
  border: black;
  background-color: rgb(245, 81, 5);
  margin: 0px 10px;
}

h2 {
  padding: 30px 10px;
  margin: 0px 40px;
  color: rgb(252, 251, 251);
  font-size: 20px;
  text-align: left;
  transition-duration: 2s;
  text-transform: capitalize;
  font-family: sans-serif;
}
span {
  color: rgb(245, 81, 5);
}
p {
  font-family: sans-serif;
  padding: 0px 10px;
  margin: 20px 40px;
  color: rgb(241, 239, 239);
  font-size: 50px;
  font-weight: 900;
  text-align: left;
}
#butt {
  font-family: sans-serif;
  padding: 0px 20px;
  margin: 20px 60px;
  color: white;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  border-radius: 2px;
  border-color: rgb(245, 81, 5);
}
#butt:hover {
  background: rgb(245, 81, 5);
  cursor: pointer;
  transform-style: flat;
  transition-duration: 2s;
  border: rgb(245, 81, 5);
}
footer {
  width: calc(100% - 80px);
  padding: 38px 40px;
  margin-top: 20px;
  background-color: rgb(245, 81, 5);
  overflow: hidden;
}
.foot {
  color: white;
  list-style: none;
  width: calc(100% - 80px);
  padding: 25px 40px;
  margin-top: 10px;
  overflow: hidden;
}
.foot div {
  width: fit-content;
  padding-left: 20px;
}
.foot a {
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  color: white;
  list-style: none;
  padding: 40px 20px;
  margin-top: 10px;
  background-color: transparent;
  overflow: hidden;
}
.foot {
  transform-style: flat;
  text-align: center;
  transition-duration: 2s;
  border: transparent;
}
